---
import Layout from '../layouts/Layout.astro';

const today = new Date();
const thisYearBirthday = new Date(today.getFullYear(), 6-1, 12);
const birthday = new Date(1981, 6-1, 12);
let age = thisYearBirthday.getFullYear() - birthday.getFullYear();


if (today < thisYearBirthday) {
    age--;
}
const reminderMonth = Math.abs(thisYearBirthday.getMonth() - today.getMonth());

const ageMonth = ((age - 17) * 12) + reminderMonth;
---

<Layout title="永遠の17歳">
<main>
	あなたの年齢は、17歳と { ageMonth } ヶ月です。
</main>
</Layout>
